h1{
    text-align: center;
    background-color: #f7d23e;
}

h2{
    text-align: center;
}

body{
    background-color:#f7ebed;
}

h3{
    text-align: center;
    font-size: 150%;
    border: 3px solid #7f1d23;
    background-color:#f4d7d8;
}
#logo{

    width: 100%; /* A largura será sempre 100% da tela */
    height: auto; /* Altura proporcional à largura */
    padding: 5px; /* Espaçamento interno ao redor do banner */
    max-width: 1500px; /* Limite máximo de largura */
    border-radius: 10px; /* Aplica arredondamento uniforme em todos os cantos */
    border: 3px solid #f7d23e;



}



#mapa{
    width: auto;
    height: 500px;
    padding: 5px;
    border: 5px solid #7f1d23;
    margin: 8px;
    border-radius: 10px;
    background-color:#f4d7d8;
}

.opcoes{
    margin: 5px;
    text-align: left;
}

.opcao a{
    text-decoration: none;
    color: black;
}

.opcao{
    display: flex;
    height: 96px;
    padding: 2px;
    border: 3px solid #7f1d23;
    margin: 10px;
    display: block;
    outline: double;
    background-color:  #f7d23e;
}

.container{
    display: flex;
}

#box1{
    width: 430px;
    padding: 10px;
    border: 5px solid #7f1d23;
    margin: 15px;
    border-radius: 15px;
    background-color:#f7d23e;
}

#box2{
    width: 500px;
    padding: 5px;
    border: 5px dotted #7f1d23;
    margin: 15px;
    border-radius: 15px;
    text-align: left;
    background-color: #f7d23e;
}

#box3{
    width: 200px;
    height: 100px;
    padding: 5px;
    border: 5px solid  #7f1d23;
    margin: 15px;
    border-radius: 15px;
    background-color:#f7d23e;
}
