h1{
    text-align: center;
    background-color: #B88A2F;
}

h2{
    text-align: center;
}

body{
    background-color:white;
}

h3{
    text-align: center;
    font-size: 150%;
    border: 3px solid #7f1d23;
    background-color:darkgrey;
}

#mapa{
    width: auto;
    height: 500px;
    padding: 5px;
    border: 5px solid #7f1d23;
    margin: 8px;
    border-radius: 10px;
    background-color:#bb8689;
}

.opcoes{
    margin: 5px;
    text-align: left;
}

.opcao a{
    text-decoration: none;
    color: black;
}

.opcao{
    display: flex;
    height: 96px;
    padding: 2px;
    border: 3px solid #7f1d23;
    margin: 10px;
    display: block;
    outline: double;
    background-color: #B88A2F;
}

.container{
    display: flex;
}

#box1{
    width: 430px;
    padding: 10px;
    border: 5px solid #7f1d23;
    margin: 15px;
    border-radius: 15px;
    background-color:#B88A2F;
}

#box2{
    width: 500px;
    padding: 5px;
    border: 5px dotted #7f1d23;
    margin: 15px;
    border-radius: 15px;
    text-align: left;
    background-color: #B88A2F;
}

#box3{
    width: 200px;
    height: 100px;
    padding: 5px;
    border: 5px solid  #7f1d23;
    margin: 15px;
    border-radius: 15px;
    background-color:#B88A2F;
}
