h1{
    text-align: center;
    background-color: #f7d23e;
}

h2{
    text-align: center;
}

body{
    background-color:#f7ebed;
}

h3{
    text-align: center;
    font-size: 150%;
    border: 3px solid #7f1d23;
    background-color:#f5d5da;
}

#mapa{
    width: auto;
    height: 500px;
    padding: 5px;
    border: 5px solid #7f1d23;
    margin: 8px;
    border-radius: 10px;
    background-color:#f5d5da;
}

.banner-container {
    justify-content: center;  /*Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: #fef5f5; /* Cor de fundo do banner */
}


#logo {
    width: auto; /* A largura será sempre 100% da tela */
    height: 500px; /* Altura proporcional à largura */
    padding: 5px; /* Espaçamento interno */
    max-width: 1500px; /* Limite máximo de largura */
    margin: 0 130px;
    border: 5px solid #7f1d23; /* Borda azul sólida */
    border-radius: 10px; /* Bordas arredondadas */
}


.opcoes{
    margin: 5px;
    text-align: left;
}

.opcao a{
    text-decoration: none;
    color: black;
}

.opcao{
    display: flex;
    height: 96px;
    padding: 2px;
    border: 3px solid #7f1d23;
    margin: 10px;
    display: block;
    outline: double;
    background-color:  #f7d23e;
}

.container{
    display: flex;
}

#box1{
    width: 430px;
    padding: 10px;
    border: 5px solid #7f1d23;
    margin: 15px;
    border-radius: 15px;
    background-color:#f7d23e;
}

#box2{
    width: 500px;
    padding: 5px;
    border: 5px dotted #7f1d23;
    margin: 15px;
    border-radius: 15px;
    text-align: left;
    background-color: #f7d23e;
}

#box3{
    width: 200px;
    height: 100px;
    padding: 5px;
    border: 5px solid  #7f1d23;
    margin: 15px;
    border-radius: 15px;
    background-color:#f7d23e;
}
